.card-wrapper {

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 327px;
	height: 176px;
	left: 24px;
	top: 151px;
	background: #FDFCFC;
	border-radius: 11px;
	border-radius: 0.938rem;
	padding: 0rem;

	.city-details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h3 {
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 20px;
			color: #2C2C2C;
			margin: 1rem 0.2rem 0rem 1rem;

		}
		h2 {
			font-family: 'Poppins';
			font-weight: 500;
			font-size: 60px;
			color: #2C2C2C;
			margin: 0rem 0.2rem 0rem 1rem;
		}
		.warning {
			margin: 0rem -1rem 1rem 1rem;
			color: #FFCC4D;
			font-size: 0.75rem;
		}
		.temperature {
			display: flex;
			flex-direction: row;
			justify-content: center;
			h2 {
				font-family: 'Poppins';
				font-weight: 500;
				font-size: 60px;
				color: #2C2C2C;
				text-align: center;
			}
			svg {
				height: 8px;
				width: 8px;
				margin: 1rem 0rem;
			}
		}
	}

	.brief-weather {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		img {
			margin: 0rem;
			height: 7rem;
			width: 7rem;
			padding: 0rem;
		}
		
		.warning {
			margin: 0rem 1rem 1rem 0.2rem;
			color: #FFCC4D;
			font-size: 0.75rem;
		}
		.desc {
			margin: 0rem 1rem 1rem 0.2rem;
			font-family: 'Poppins';
			font-weight: 600;
			font-size: 1rem;
			color: #2C2C2C;
		}
	}

}