.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20.438rem;
  height: 11rem;
  background: #fdfcfc;
  border-radius: 0.688rem;
  border-radius: 0.938rem;
  padding: 0rem;
  background: #FDFCFC;
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
  border-radius: 0.688rem;

  .city-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	align-items: flex-start;


    h3 {
      font-family: "Poppins";
      font-weight: 600;
      font-size: 1.25rem;
      color: #2c2c2c;
      margin: 1rem 0.2rem 0rem 1rem;
    }
    h2 {
      font-family: "Poppins";
      font-weight: 500;
      font-size: 3.75rem;
      color: #2c2c2c;
      margin: 0rem 0.2rem 0rem 1rem;
    }
    .warning {
      margin: 0rem -1rem 1rem 1rem;
      color: #ffcc4d;
      font-size: 0.75rem;
    }
    .temperature {
      display: flex;
      flex-direction: row;
      justify-content: center;
      h2 {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 3.75rem;
        color: #2c2c2c;
        text-align: center;
      }
      svg {
        height: 0.5rem;
        width: 0.5rem;
        margin: 1rem 0rem;
      }
    }
  }

  .brief-weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

	.forward {
		display: hidden;
	}

    img {
      margin: 0rem;
      height: 7rem;
      width: 7rem;
      padding: 0rem;
    }

    .warning {
      margin: 0rem 1rem 1rem 0.2rem;
      color: #ffcc4d;
      font-size: 0.75rem;
    }
    .desc {
      margin: 0rem 1rem 1rem 0.2rem;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 1rem;
      color: #2c2c2c;
    }
  }
}

@media only screen and (min-device-width: 1024px) {
	.card-wrapper {
		align-self: flex-start;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 25rem;
		height: 13.75rem;

		padding: 0rem;
		margin: 0rem 21.25rem;
		background: #FDFCFC;
		box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
		border-radius: 0.688rem;
	  
		.city-details {
		  display: flex;
		  flex-direction: column;
		  justify-content: space-between;
		  align-items: flex-start;
	  
		  h3 {
			font-family: "Poppins";
			font-weight: 600;
			font-size: 1.375rem;
			color: #2c2c2c;
			margin: 1rem 0.2rem 0rem 1rem;
		  }
		  h2 {
			font-family: "Poppins";
			font-weight: 500;
			font-size: 4rem;
			color: #2c2c2c;
			margin: 0rem 0.2rem 0rem 1rem;
		  }
		  .warning {
			margin: 0rem -1rem 1rem 1rem;
			color: #ffcc4d;
			font-size: 0.875rem;
		  }
		  .temperature {
			display: flex;
			flex-direction: row;
			justify-content: center;
			h2 {
			  font-family: "Poppins";
			  font-weight: 500;
			  font-size: 3.75rem;
			  color: #2c2c2c;
			  text-align: center;
			}
			svg {
			  height: 0.5rem;
			  width: 0.5rem;
			  margin: 1rem 0rem;
			}
		  }
		}
	  
		.brief-weather {
		  display: flex;
		  flex-direction: column;
		  justify-content: space-around;
		  align-items: flex-end;

		  .forward {
			background-color: transparent;
			background-image: url(../../assets/arrow_forward.svg);
			background-size: 100% 100%;
			width: 0.625rem;
			height: 1rem;
			margin: 1rem 1rem;
		  }
	  
		  img {
			margin: 0rem;
			height: 7rem;
			width: 7rem;
			padding: 0rem;
		  }
	  
		  .warning {
			margin: 0rem 1rem 1rem 0.2rem;
			color: #ffcc4d;
			font-size: 0.875rem;
		  }
		  .desc {
			margin: 0rem 1rem 1rem 0.2rem;
			font-family: "Poppins";
			font-weight: 600;
			font-size: 1rem;
			color: #2c2c2c;
		  }
		}
	  }
	  
}