.card-wrapper-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4.063rem 1.5rem;

  background: #ffffff;
  border-radius: 0.688rem;
  border-radius: 0.938rem;
  padding: 0rem;

  .action-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .back-btn {
      background-color: transparent;
      background-image: url(../../assets/arrow_back.svg);
      background-size: 100% 100%;
      border: 0;
      padding: 0.5rem;
      margin: 1rem 1.5rem 0rem -10.5rem;
      color: white;
      width: 0.063rem;
      height: 1.188rem;
    }
  }
  .add-to-favs {
    display: flex;
    flex-direction: row;
    margin: 0.2rem -11rem 0rem 1.5rem;

    .add-to-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      button {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1.125rem;
      }
      svg {
        height: 0.875rem;
        width: 0.875rem;
        margin: 1rem 0.3rem;
      }
    }
    .remove-from-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .added {
        width: 6.875rem;
        height: 2.438rem;
        left: 11.5rem;
        top: 4.063rem;

        background: #009456;
        border-radius: 0.438rem;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1.125rem;
        text-align: center;
        padding: 0.6rem 0rem;
        margin: 0.2rem;

        color: #ffffff;
      }
      .remove {
        width: 62.3.93rem;
        height: 2.438rem;
        left: 18.688rem;
        top: 4.063rem;

        background: #ec7272;
        border-radius: 0.438;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 0.75;
        line-height: 1.125rem;
        text-align: center;
        margin: 0.2rem 0rem 0.2rem 0.2rem;
        color: #ffffff;
      }
    }
  }
  .city-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem 0rem;
    img {
      width: 7.688rem;
      height: 7.688rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .location {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      h3 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 1.875rem;
        line-height: 2.813rem;
        text-align: center;
        color: #2c2c2c;
      }
      svg {
        height: 1.313rem;
        width: 1.313rem;
        margin: 0.7rem;
      }
    }

    .temperature {
      display: flex;
      flex-direction: row;
      justify-content: center;
      h2 {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 3.75rem;
        color: #2c2c2c;
        text-align: center;
      }
      svg {
        height: 0.5rem;
        width: 0.5rem;
        margin: 1rem 0rem;
      }
    }
  }
  .weather-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fdfcfc;
    border-radius: 0.688rem;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: #c4c4c4;
      margin: 0.5rem 0.6rem;
      text-align: center;
      padding: 0.3rem;

      .value {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 0.938rem;
        line-height: 1.375rem;
        color: #9a9a9a;
        margin: 0.5rem 0rem;
      }
    }
  }
  .graph-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fdfcfc;
    border-radius: 0.688rem;
    margin: 1rem 0rem;

    h5 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1.125rem;
      /* identical to box height */
      margin: 1rem 0.6rem;

      color: #c4c4c4;
    }

    .graph {
      width: 21.25rem;
      height: 9.375rem;
      margin: 0.5rem 0rem;
      padding: 0rem 1rem;
    }

    .daylight {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 0.938rem;
      /* identical to box height */
      color: #9a9a9a;
      margin: 0.5rem 0.5rem;
      p {
        padding: 0.2rem;
		strong {
			color: #2c2c2c;
		}
      }
    }
  }
}


@media only screen and (min-device-width: 1024px){
.card-wrapper-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4.063rem 1.5rem;
	flex-grow: 1;
  background: #ffffff;
  border-radius: 0.688rem;
  border-radius: 0.938rem;
  padding: 0rem;

  .action-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	flex-grow: 1;

    .back-btn {
      background-color: transparent;
      background-image: url(../../assets/arrow_back.svg);
      background-size: 100% 100%;
      border: 0;
      padding: 0.5rem;
      margin: 1rem 1.5rem 0rem -10.5rem;
      color: white;
      width: 0.063rem;
      height: 1.188rem;
    }
  }
  .add-to-favs {
    display: flex;
    flex-direction: row;
    margin: 0.2rem -11rem 0rem 1.5rem;

    .add-to-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1.125rem;
      }
      svg {
        height: 0.875rem;
        width: 0.875rem;
        margin: 1rem 0.3rem;
      }
    }
    .remove-from-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .added {
        width: 6.875rem;
        height: 2.438rem;
        left: 11.5rem;
        top: 4.063rem;

        background: #009456;
        border-radius: 0.438rem;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 1.125rem;
        text-align: center;
        padding: 0.6rem 0rem;
        margin: 0.2rem;

        color: #ffffff;
      }
      .remove {
        width: 62.3.93rem;
        height: 2.438rem;
        left: 18.688rem;
        top: 4.063rem;

        background: #ec7272;
        border-radius: 0.438;

        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 0.75;
        line-height: 1.125rem;
        text-align: center;
        margin: 0.2rem 0rem 0.2rem 0.2rem;
        color: #ffffff;
      }
    }
  }
  .city-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem 0rem;
	flex-grow: 1;

    img {
      width: 7.688rem;
      height: 7.688rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .location {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      h3 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 1.875rem;
        text-align: center;
        color: #2c2c2c;
      }
      svg {
        height: 1.313rem;
        width: 1.313rem;
        margin: 0.7rem;
      }
    }

    .temperature {
      display: flex;
      flex-direction: row;
      justify-content: center;
      h2 {
        font-family: "Poppins";
        font-weight: 500;
        font-size: 4.375rem;
        color: #2c2c2c;
        text-align: center;
      }
      svg {
        height: 0.5rem;
        width: 0.5rem;
        margin: 1rem 0rem;
      }
    }
  }
  .weather-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fdfcfc;
    border-radius: 0.688rem;
	width: 64.5rem;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.125rem;
      color: #c4c4c4;
      margin: 0.5rem 0.6rem;
      text-align: center;
      padding: 0.3rem;

      .value {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 1.688rem;
        line-height: 1.375rem;
        color: #9a9a9a;
        margin: 0.5rem 0rem;
      }
    }
  }
  .graph-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fdfcfc;
    border-radius: 0.688rem;
    margin: 1rem 0rem;
	width: 64.5rem;

    h5 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1.125rem;
      /* identical to box height */
      margin: 1rem 0.6rem;

      color: #c4c4c4;
    }

    .graph {
      width: 21.25rem;
      height: 9.375rem;
      margin: 0.5rem 0rem;
      padding: 0rem 1rem;
    }

    .daylight {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 0.938rem;
      /* identical to box height */
      color: #9a9a9a;
      margin: 0.5rem 0.5rem;
      p {
        padding: 0.2rem;
		strong {
			color: #2c2c2c;
		}
      }
    }
  }
}
  }