.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin: 2.75rem 1.5rem;

  .top-bar {
    display: none;
  }
}

@media only screen and (min-device-width: 1024px) {
  .home {
    margin: 0rem;

    .top-bar {
      display: flex;
      align-items: center;

      width: 100%;
      height: 6.25rem;
      background: rgba(178, 235, 242, 0.5);
      box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.1);

      .logo {
        background-image: url("../../assets/home_logo.svg");
        width: 5rem;
        height: 5rem;
        margin: 0rem 0.531rem 0rem 2.188rem;
      }
      h6 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 20.25rem;
        margin: 0.531rem;

        color: #000000;
      }
    }
  }
}
