.empty-watchlist {

	img {
		position: absolute;
		width: 10.875rem;
		height: 4.509rem;
		left: 6.25rem;
		top: 18.688rem;
	}
	p {
		position: absolute;
		width: 14.875rem;
		height: 1.438rem;
		left: 4.25rem;
		top: 24.625rem;

		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 0.938rem;
		line-height: 1.375rem;

		color: #000000;

	}
}